@model TesteProgramacaoMF.Profissionais.Application.ViewModels.FuncionarioObraViewModel

@{
    ViewData["Title"] = "Excluir Funcionario Obra";
}

<h1>Excluir Funcionario Obra</h1>

<h3>Deseja realmente excluir esse cargo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obra.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
