@model TesteProgramacaoMF.Profissionais.Application.ViewModels.FuncionarioObraViewModel

@{
    ViewData["Title"] = "Detalhar Funcionario Obra";
}

<h1>Detalhar Funcionario Obra</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obra.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
